<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reciclaje">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reciclaje">
        <activity
            android:name=".CambioPasswordActivity"
            android:label="Cambiar contraseña"
            android:parentActivityName=".Account" />
        <activity
            android:name=".Puntos"
            android:label="Puntos" />
        <activity
            android:name=".Reciclaje"
            android:label="Reciclaje" />
        <activity android:name=".Home" />
        <activity
            android:name=".Account"
            android:label="Mi Cuenta" />
        <activity android:name=".Activity_inicio" />
        <activity android:name=".Editar" />
        <activity android:name=".Mostrar" />
        <activity android:name=".Registrar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".persona.CrearPersonaActivity"
            android:label="Crear Persona">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".persona.MostrarEditarPersonaActivity"
            android:label="Detalle"
            android:parentActivityName=".Account">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>